@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* RADIUS */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* COLORS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-ring: var(--ring);

  /* FONTS */
  --font-inter: "Inter", sans-serif;
}

:root {
  --radius: 0.625rem;

  --background: rgba(224, 217, 245, 1);
  --foreground: rgba(20, 18, 28, 1);
  --primary: rgba(123, 83, 238, 1);
  --secondary: rgba(250, 114, 104, 1);

  --card: rgb(255, 255, 255);
  --border: rgb(229, 229, 229);
  --ring: rgb(161, 161, 161);
}

.dark {
  --background: rgba(20, 18, 28, 1);
  --foreground: rgba(224, 217, 245, 1);
  --primary: rgba(123, 83, 238, 1);
  --secondary: rgba(250, 114, 104, 1);

  --card: rgba(35, 32, 48, 1);
  --border: rgba(224, 217, 245, 0.1);
  --ring: rgba(224, 217, 245, 0.15);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
