@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* RADIUS */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* COLORS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-projects: var(--projects);
  --color-graduation: var(--graduation);
  --color-study: var(--study);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-ring: var(--ring);

  /* FONTS */
  --font-inter: "Inter", sans-serif;
  --animate-orbit: orbit calc(var(--duration)*1s) linear infinite;
  @keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}

:root {
  --radius: 0.625rem;

  --background: rgba(224, 217, 245, 1);
  --foreground: rgba(39, 36, 53, 1);
  --primary: rgba(137, 104, 234, 1);
  --secondary: rgba(227, 140, 140, 1);
  --secondary-foreground: rgba(39, 36, 53, 1);

  --graduation: rgb(193, 140, 78);
  --projects: rgb(71, 172, 122);
  --study: rgb(76, 122, 175);

  --card: rgb(203, 195, 228);
  --border: rgba(123, 83, 238, 0.1);
  --ring: rgba(123, 83, 238, 0.1);
}

.dark {
  --background: rgba(20, 18, 28, 1);
  --foreground: rgba(224, 217, 245, 1);
  --primary: rgba(123, 83, 238, 1);
  --secondary: rgba(250, 114, 104, 1);
  --secondary-foreground: rgba(224, 217, 245, 1);

  --graduation: rgba(238, 202, 83, 1);
  --projects: rgba(83, 238, 158, 1);
  --study: rgba(83, 155, 238, 1);

  --card: rgb(29, 26, 40);
  --border: rgba(123, 83, 238, 0.25);
  --ring: rgba(123, 83, 238, 0.25);
}

@layer base {
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;

    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-inter;
  }
}